APP_ENV=local
APP_PORT=5500

# MAIN DATABASE
MAIN_DB_DIALECT=postgres
MAIN_DB_HOST=localhost
MAIN_DB_PORT=5433
MAIN_DB_USERNAME=base
MAIN_DB_PASSWORD=base
MAIN_DB_NAME=base
MAIN_DB_SSLMODE=disable

# GOOGLE SERVICE
GOOGLE_CLIENT_ID=xx
GOOGLE_CLIENT_SECRET=xx
GOOGLE_OAUTH_REDIRECT_URL=http://localhost:5173/google-oauth-redirect

